#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.swiper-div{
  height: 22px;
  margin-top: 20px;
  padding: 20px;
  swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  }
  
  swiper-slide {
    display: flex;
    position: relative;
  
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }
  
  swiper-slide img {
    width: 400px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
  }
}

.High{
    color: red;
    background-color: #ffd3d3;
    padding: 10px;
    border-radius: 15%;
}

.Medium{
    color: #FFA500;
    background-color: #ffe6b7;
    padding: 10px;
    border-radius: 15%;
}

.Low{
  color: #008000;
  background-color: #caffca;
  padding: 10px;
  border-radius: 15%;
}
.priority{
  padding: 20px;
}

ion-card-header{
  margin-top: -20px;
}
ion-label{
  font-size: 24px;
}
ion-select{
  width: 100px;
}
.custom-toast {
  --background: #333;
  --color: #fff;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-radius: 8px;
  --opacity: 0.9;
  // --width: 200px;
  --font-size: 16px;
  --text-align: center;
}
.count-title{
  color: #8e8888;
}

.ion-padding ion-item{
  margin-top: 20px;
}
.danger{
  color: red;
}